body
{
    background: rgb(1, 77, 95);
    background-color: rgb(1, 77, 95);
}
#head-title {
    position: relative;
    left: -5%;    
}

#head-row {
    margin: 0px;
}

#mid-1 {
    width: 100%;
    height: 100%;
    background: white;
    color: black;
}

#head-1 {
    height: 100%;
}
